
.singleCard{
	width: 20rem;
	height: 35rem;
	border: 4px solid red;
	border-radius: 2rem;
	background-color: rgb(233, 163, 163);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

ul{
	margin-bottom: 19px;
	text-align: left;
}


li{
	margin-bottom: 0;
}

img {
	height:auto;
	width: 100%;
	
	margin: 0;
}